.listProducts{
    box-shadow: 0 10px 20px -11px black;
}

.listProducts th,td {
    border: 1px solid;
    width: 100px;
    text-align: center;
    background: rgb(198	221	244);
}

.listProducts  input {
    margin:0 10px 0 10px;
    width: 100px;
}

.listProducts:hover {
    box-shadow: 7px 7px 15px 5px #000000;
}

.buttons button{
    background: rgb(143	191	247);
    color:black;
    margin: 10px 0;
    width: 75px;
    height: 20px;
    border-radius:16px;
    border: 2px solid rgb(143 191	247);
    box-shadow: 0 10px 20px -11px black;

}

.buttons button:hover {
    box-shadow: 5px 3px 4px 0 #000000;
    border: 0 solid white;
    cursor:pointer;
    width:80px;
    height:20px;
    color: white;
    background: rgb(59	110	207);
}

.buttons button:active{
    box-shadow: 0 0 0 0 black;
    width:80px;
}

.inputFields {
    text-align: center;
}