@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: rgb(247	245	236);
}

.App h1{
    color:black;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
}

.components {
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 16%;
}

@media all and (max-width: 1100px) {

    .components {
        display: block;
    }

}